body {
//width: 250px;
}

.view-media-gallery {
  .view-filters {
    background: #ebe5d5;
    padding: 10px;
  }
  .view-content {
    margin: 32px 0;
  }
  .views-row {
    background: #fffdf0;
    width: 180px;
    height: 240px;
    padding: 2px;
    margin: 0 0px 3px;
    border: solid 1px #543336;
    border-radius: 6px;
    vertical-align: top;
    line-height: 1.2em;
    display: inline-block;
    overflow: hidden;

    time {
      font-size: 75%;
    }
    .im-image {
      border-radius: 4px;
    }
  }
}
